#particles-js {
    height: 100%;
    width: 100%; 
    background-color: #121212;
    position: relative;
    z-index: -1;
}

#spreco-loginpack {
    position: absolute;
    top: 50%;
    left: 0px;
    right: 0px;
    transform: translateY(-50%);
    text-align: center;
    font-weight: 100; 
}

#sprecoabout{
    text-decoration: none;
    color: white; 
}
#loginheader{
    color:white;
    margin-bottom: 1%; 
}


#logindescription{
    color:white; 
    margin-bottom: 10%; 
}

#spreco-login {
    background-color: #1DB954;
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
}