
@{
    ViewData["Title"] = "About";
}
<link rel="stylesheet" href="~/css/about.css" />

<div id="aboutinformation">
    <h1>Goal</h1>
    <p>Spreco was made in order to give Spotify users the ability to easily discover new music at anytime. Our recommendations are based on your last 20 recently played tracks.</p>
    <h1>Data Collection</h1>
    <p>We store no information about you or your Spotify account, the information is retrieved when you login and forgotten once you leave the site.</p>
    <h1>Contact</h1>
    <p>If you are a developer or designer and are interested in working with us or if you just have some feedback, you can reach us at "insert email here".</p>
</div>

