
@{
    ViewData["Title"] = "Export";
}
<link rel="stylesheet" href="~/css/export.css" />

<div id="spreco-message">
    <h1>The songs were sucessfully exported!</h1>
    <p>Go to Spotify and look for the playlist named <span id="playlist-name">@ViewBag.playlistname</span></p>
</div>



