@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/index.css" />

<div id="spreco-loginpack">
    <h1 id="loginheader">Welcome to <a id="sprecoabout" href="/home/about" title="About us">Spreco</a></h1>
    <p id="logindescription">Discover music similar to the songs you've been recently listening to</p>
    <button id="spreco-login" onclick="location.href='@ViewBag.AuthUrl'" type="button">
        Login with Spotify
    </button>
</div>

<div id ="spreco-loader" class="loader"></div>


<div id="particles-js"></div>
<script src="~/js/particles.js"></script>
<script src="~/js/index.js" asp-append-version="true"></script>